# dependencies
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
venv/
.env

# Expo / React Native
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/web-build/

# OS
.DS_Store
*.swp

# IDE
.idea/
.vscode/
*.code-workspace
